In [2]:
import pandas as pd

filename_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
filename_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filepaths = [filename_1, filename_2]

for filepath in filepaths:
    print(filepath)

dfs = {}
for i, v in enumerate(filepaths):
    print(i)
    print(v)

dfs = pd.merge(dfs[0], dfs[1], on='LAchildID', how="outer")

print(df)

https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv
https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv
0
https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv
1
https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv

KeyError: 0

In [3]:
# conditionals

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [8]:
condition  = df['Age'] >= 10
print(condition)

over_10 = df[condition]
print(over_10)

condition_2 = df['Age first contact'] >= 9
contact_after_9 = df[condition_2]
print(contact_after_9)

0    False
1     True
2     True
3    False
4    False
Name: Age, dtype: bool
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
4     id5                 19      F 2012-01-06    2      yES

In [10]:
error_rows = df[df['Age first contact'] > df['Age']]
print(error_rows)

error_rows = df[~df['Age first contact'] > df['Age']]
print(error_rows)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES
Empty DataFrame
Columns: [ChildId, Age first contact, Gender, Birthday, Age, CP Plan?]
Index: []

In [16]:
print(1 > 2)
print (2 == 2)
print((1 > 2) & (2 == 2))

False
True
False

In [25]:
isna_condition = df['Birthday'].isna()
print(df[isna_condition])

notna_condition = df['Birthday'].notna()
print(df[notna_condition])

str_condition = df['CP Plan?'].str.lower().str.contains('y')
print(df[str_condition])

check_list = [12, 11]
condition_11_12 = df['Age'].isin(check_list)

  ChildId  Age first contact Gender Birthday  Age CP Plan?
2     id3                 11      F      NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [26]:
cond_21 = df['CP Plan?'].str.lower().str.contains('n') | (df['Gender'].str.lower() == 'm')
print(df[cond_21])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No

In [35]:
numbers = list(range(1, 11))
print(numbers)

# for i in numbers:
#     if i == 1:
#         print('The number was 1')

for i in numbers:
    if i % 2 == 0:
        print('The number is even')
    if i == 2:
        print(f'{i}')
    elif i == 9:    # elif runs only if if's above are false
        print('The number is 9')
    else:
        print('The number was odd')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The number was odd
The number is even
2
The number was odd
The number is even
The number was odd
The number was odd
The number is even
The number was odd
The number was odd
The number is even
The number was odd
The number is 9
The number is even
The number was odd

In [40]:
numbers = list(range(1, 11))

for i in numbers:
    if i < 6:
        if i % 2 == 0:
            print('The number is even.')
        if i == 2:
            print(f'{i}')
        elif i % 2 != 0:
            print('The number is odd')
    else: 
        print('it was greater than 6')

The number is odd
The number is even.
2
The number is odd
The number is even.
The number is odd
it was greater than 6
it was greater than 6
it was greater than 6
it was greater than 6
it was greater than 6

In [41]:
# fizzbang
# take all the numbers form 1-100,
# print them, BUT if the number is divisible by 3, print fizz,
# if it's divisible by 5 print bang
# BUT if it's divisible by 3 & 5 rint fizzbang

onehundred = list(range(1,101))

for i in onehundred:
    if (i % 3 == 0) & (i % 5 == 0):
        print('fizzbang')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('bang')
    else:
        print(i)

1
2
fizz
4
bang
fizz
7
8
fizz
bang
11
fizz
13
14
fizzbang
16
17
fizz
19
bang
fizz
22
23
fizz
bang
26
fizz
28
29
fizzbang
31
32
fizz
34
bang
fizz
37
38
fizz
bang
41
fizz
43
44
fizzbang
46
47
fizz
49
bang
fizz
52
53
fizz
bang
56
fizz
58
59
fizzbang
61
62
fizz
64
bang
fizz
67
68
fizz
bang
71
fizz
73
74
fizzbang
76
77
fizz
79
bang
fizz
82
83
fizz
bang
86
fizz
88
89
fizzbang
91
92
fizz
94
bang
fizz
97
98
fizz
bang