In [8]:
# basic commands
num_1 = 1
num_2 = 10
sum_1_2 = num_1 + num_2
print(sum_1_2)
print(type(x))

11
<class 'int'>

In [12]:
x = 10.0
y = 5
z = x + y
print(z)

a = "10.0"
b = "5.0"
print(a + b)

15.0
10.05.0

In [15]:
# more calculations
r = 12
s = 4
res = r * s
print(res)

rad = 2
pi = 3.14
area = pi * (rad ** 2)
print(area)

48
12.56

In [17]:
# concatinating strings
name = "Bob"
job = "teacher"
the_text = name + " is a " + job
print(the_text)

phrase = f"My name is {name} and I am the {job}."
print(phrase)

Bob is a teacher
My name is Bob and I am the teacher.

In [24]:
filename = "c://desktop/data/903_header.csv"
print(filename)

substring_1 = filename[10]
print(substring_1)

# start:stop (careful as python starts with 0, not 1)
substring_2 = filename[10:21]
print(substring_2)

# most useful (last 4 characters):
substring_3 = filename[-4:]
print(substring_3)

# useless but used in job interviews - reversed:
# start:stop:step
substring_4 = filename[-1::-1]
print(substring_4)

c://desktop/data/903_header.csv
p
p/data/903_
.csv
vsc.redaeh_309/atad/potksed//:c

In [30]:
# exercise with strings
slice_this_phrase = 'dog cat racoon'
slice_1 = slice_this_phrase[0:2]
print(slice_1)
slice_2 = slice_this_phrase[4:7]
print(slice_2)
slice_3 = slice_this_phrase[8:]
print(slice_3)

do
cat
racoon

In [31]:
# lists
list_1 = [1, phrase, substring_4]
print(list_1)
print(type(list_1))

[1, 'My name is Bob and I am the teacher.', 'vsc.redaeh_309/atad/potksed//:c']
<class 'list'>

In [42]:
colours = ['red', 'blue', 'white', 'purple']
# start:stop:step
print(colours[-1::-1])

['purple', 'white', 'blue', 'red']

In [41]:
# methods
colours.append('teal')
print(colours)

# a list can have another list within
colours.append(['orange','maroon'])
print(colours)

['red', 'blue', 'white', 'purple', 'teal', 'teal', 'teal', 'teal', 'teal']
['red', 'blue', 'white', 'purple', 'teal', 'teal', 'teal', 'teal', 'teal', ['orange', 'maroon']]

In [45]:
# how to add multiple records in a list:
colours.extend(['brown','azzuro','red']) # an item, e.g. red here, can be added multiple times
print(colours)

['red', 'blue', 'white', 'purple', 'brown', 'azzuro', 'red', 'brown', 'azzuro', 'red']