In [3]:
import pandas as pd

# pd.DataFrame()

In [3]:
filename = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv'

In [4]:
df = pd.read_csv(filename)

print(df.info)

<bound method DataFrame.info of                Name   Period  House price index All property types  \
0    United Kingdom  1980-01                                 10.11
1    United Kingdom  1980-02                                 10.11
2    United Kingdom  1980-03                                 10.11
3    United Kingdom  1980-04                                 10.51
4    United Kingdom  1980-05                                 10.51
..              ...      ...                                   ...
518  United Kingdom  2023-03                                148.20
519  United Kingdom  2023-04                                148.90
520  United Kingdom  2023-05                                149.50
521  United Kingdom  2023-06                                151.20
522  United Kingdom  2023-07                                152.00

     Average price All property types  \
0                               19273
1                               19273
2                               19273
3                               20044
4                               20044
..                                ...
518                            282548
519                            283871
520                            285053
521                            288281
522                            289824

     Percentage change (monthly) All property types  \
0                                              3.94
1                                              3.94
2                                              3.94
3                                              4.00
4                                              4.00
..                                              ...
518                                           -1.00
519                                            0.50
520                                            0.40
521                                            1.10
522                                            0.50

     Percentage change (yearly) All property types
0                                            28.59
1                                            28.59
2                                            28.59
3                                            24.15
4                                            24.15
..                                             ...
518                                           3.20
519                                           2.50
520                                           1.60
521                                           1.90
522                                           0.60

[523 rows x 6 columns]>

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    object
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 24.6+ KB
None

In [10]:
# most common date format in ESCC Children Services - 01/01/2000
# most common fime format - %d/%m/%y
# strftime
# %b = month but with local shortening e.g. Jan
# %B = full month name e.g. January

df['Period'] = pd.to_datetime(df['Period'], format='%Y-%m', errors='coerce')

df['Age of Data (Years)'] = pd.to_datetime('today').normalize() - df['Period']

df['Age of Data (Years)'] = (df['Age of Data (Years)'] / np.timedelta64(1, 'Y')).astype('int')

print(df['Age of Data (Years)'].dtype)

ValueError: Unit Y is not supported. Only unambiguous timedelta values durations are supported. Allowed units are 'W', 'D', 'h', 'm', 's', 'ms', 'us', 'ns'

In [9]:
import numpy as np

# numpy = number oriented package

In [4]:
filename_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

In [5]:
df = pd.read_csv(filename_2)
print(df)

     Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0             0  RND000215205141  A850728973744        NaN         NaN
1             1  RND000824303014  A141396438491        NaN         NaN
2             2  RND000750143123  A929946861554        NaN         NaN
3             3  RND000909164501  A612330267292        NaN         NaN
4             4  RND000382171815  A604459366806        NaN         NaN
..          ...              ...            ...        ...         ...
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0        2019-12-06                     NaN              1             NaN
1        2011-04-27                     NaN              9             NaN
2        2017-06-06              2019-12-06              1             NaN
3        2014-10-03                     NaN              0             NaN
4        2019-09-25                     NaN              2             NaN
..              ...                     ...            ...             ...
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

[332 rows x 9 columns]

In [7]:
df = df[['LAchildID','PersonBirthDate','GenderCurrent']]

df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format='%Y-%m-%d', errors='coerce')

df['Age'] = pd.to_datetime('today').normalize() - df['PersonBirthDate']
df['Age'] = (df['Age'] / pd.Timedelta('365 days'))

print(df)

           LAchildID PersonBirthDate  GenderCurrent        Age
0    RND000215205141      2019-12-06              1   4.180822
1    RND000824303014      2011-04-27              9  12.797260
2    RND000750143123      2017-06-06              1   6.682192
3    RND000909164501      2014-10-03              0   9.358904
4    RND000382171815      2019-09-25              2   4.378082
..               ...             ...            ...        ...
327  RND000112711501      2010-07-07              2  13.602740
328  RND000513120794      2018-08-14              2   5.493151
329  RND000541643134      2021-12-09             51   2.169863
330  RND000404939452      2013-07-23              2  10.556164
331  RND000589802835      2021-10-25              9   2.293151

[332 rows x 4 columns]

In [8]:
gender_map = {1:'Male',
              2:'Female',
              0:'Unknown',
              9:'Funny'}

df['GenderCurrent'] = df['GenderCurrent'].map(gender_map)
print(df)

           LAchildID PersonBirthDate GenderCurrent        Age
0    RND000215205141      2019-12-06          Male   4.180822
1    RND000824303014      2011-04-27         Funny  12.797260
2    RND000750143123      2017-06-06          Male   6.682192
3    RND000909164501      2014-10-03       Unknown   9.358904
4    RND000382171815      2019-09-25        Female   4.378082
..               ...             ...           ...        ...
327  RND000112711501      2010-07-07        Female  13.602740
328  RND000513120794      2018-08-14        Female   5.493151
329  RND000541643134      2021-12-09           NaN   2.169863
330  RND000404939452      2013-07-23        Female  10.556164
331  RND000589802835      2021-10-25         Funny   2.293151

[332 rows x 4 columns]

In [10]:
# ==
# >
# <
# >=
# <=
# ~ - that means not, e.g. ~(df['Age'] > 18) (you will see below)
# !=

# use & and |, instead of "and" or "or" - those will mess up with your results


over_18_condition = df['Age'] > 18

# sliced_df = df['Age' > 18]
print(over_18_condition)

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Name: Age, Length: 332, dtype: bool

In [11]:
over_18_male_cond = (df['Age'] > 18) & (df['GenderCurrent'] == 'Male')

over_18_male = df[over_18_male_cond]
print(over_18_male)

           LAchildID PersonBirthDate GenderCurrent        Age
54   RND000651029434      2005-05-19          Male  18.739726
61   RND000235844862      2004-08-23          Male  19.476712
69   RND000241874800      2004-08-26          Male  19.468493
106  RND000859630907      2004-09-10          Male  19.427397
197  RND000784759216      2004-09-01          Male  19.452055
249  RND000385078505      2005-03-16          Male  18.915068
288  RND000176823121      2005-07-10          Male  18.597260

In [12]:
over_18_or_male_cond = (df['Age'] > 18) | (df['GenderCurrent'] == 'Male')

over_18_or_male = df[over_18_or_male_cond]
print(over_18_or_male)

           LAchildID PersonBirthDate GenderCurrent        Age
0    RND000215205141      2019-12-06          Male   4.180822
2    RND000750143123      2017-06-06          Male   6.682192
10   RND000003988611      2022-05-11          Male   1.750685
15   RND000616439909      2020-04-06          Male   3.846575
19   RND000958425881      2007-07-04          Male  16.613699
..               ...             ...           ...        ...
311  RND000605823944      2018-10-07          Male   5.345205
316  RND000683862055      2006-01-07        Female  18.101370
323  RND000044483554      2020-06-16          Male   3.652055
324  RND000110305262      2022-06-13          Male   1.660274
325  RND000174662411      2005-08-08           NaN  18.517808

[105 rows x 4 columns]

In [16]:
cond_15_or_under__or_male = (df['Age'] <= 15) | (df['GenderCurrent'].str.lower == 'male')
df_15b_or_male = df[cond_15_or_under__or_male]
print(df_15b_or_male)

cond_6 = df['GenderCurrent'].isin(['Male', 'Female'])
print(cond_6)

cond_7 = df['GenderCurrent'].str.contains('M') & df['GenderCurrent'.notna()]
print(cond_7)

           LAchildID PersonBirthDate GenderCurrent        Age
0    RND000215205141      2019-12-06          Male   4.180822
1    RND000824303014      2011-04-27         Funny  12.797260
2    RND000750143123      2017-06-06          Male   6.682192
3    RND000909164501      2014-10-03       Unknown   9.358904
4    RND000382171815      2019-09-25        Female   4.378082
..               ...             ...           ...        ...
327  RND000112711501      2010-07-07        Female  13.602740
328  RND000513120794      2018-08-14        Female   5.493151
329  RND000541643134      2021-12-09           NaN   2.169863
330  RND000404939452      2013-07-23        Female  10.556164
331  RND000589802835      2021-10-25         Funny   2.293151

[243 rows x 4 columns]
0       True
1      False
2       True
3      False
4       True
       ...
327     True
328     True
329    False
330     True
331    False
Name: GenderCurrent, Length: 332, dtype: bool